Repository oglimmer/video-msg: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, spotless-java, eslint

.pre-commit-config.yaml:

repos:
  # Leaking credentials, secrets, tokens, passwords
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.0
    hooks:
      - id: gitleaks
        name: gitleaks (secrets scan)
        args: ["detect", "--staged", "--redact", "--config=.gitleaks.toml"]

  # Leaking credentials, secrets, tokens, passwords
  - repo: https://github.com/trufflesecurity/truffleHog
    rev: v3.90.13
    hooks:
      - id: trufflehog
        args: ['--no-update']

  # Generic hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: forbid-submodules


  # Run `helm lint` for charts (system or docker)
  - repo: local
    hooks:
      - id: helm-lint
        name: helm lint
        entry: bash -c 'for d in helm/* charts/*; do [ -d "$d" ] && helm lint "$d" || true; done'
        files: ^helm/
        language: system
        pass_filenames: false

  # Java formatting
  - repo: local
    hooks:
      - id: spotless-java
        name: spotless (java)
        entry: bash -c "cd server && ./mvnw spotless:check"
        files: ^server/
        language: system
        types_or: [java]
        pass_filenames: false

  # Node (JS/TS) â€“ eslint + prettier via mirrors
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c "cd frontend && npm run lint && npm run type-check"
        files: ^frontend/
        language: system

Initial addition of LICENSE and README files
  LICENSE
  README.md
Due: none

```
  backend/src/main/java/com/oglimmer/vmsg/config/WebConfig.java
  backend/src/main/java/com/oglimmer/vmsg/controller/RecordingController.java
  backend/src/main/java/com/oglimmer/vmsg/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/oglimmer/vmsg/service/VideoReencodingService.java
Due: none

chore: add favicons and apple touch icon for improved web app branding
  frontend/index.html
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/site.webmanifest
Due: eslint

feat: rebrand application to screen recording with audio commentary and update related documentation
  CLAUDE.md
  DEPLOYMENT.md
  README.md
  backend/pom.xml
  frontend/index.html
  frontend/src/views/RecordView.vue
  helm/video-msg/Chart.yaml
  helm/video-msg/README.md
  oglimmer.sh
Due: helm-lint, eslint

feat: add CI workflow for backend and frontend tests with Java and Node.js
  .github/workflows/ci.yml
Due: none

feat: add browser support check for media recording functionality in RecordingControls component
  frontend/src/components/RecordingControls.vue
  frontend/src/composables/useMediaRecorder.ts
Due: eslint

chore(config): disable SQL logging and formatting in application.yaml
  backend/src/main/resources/application.yaml
Due: none

fix: package-lock
  frontend/package-lock.json
Due: eslint

ux: fix state when clicking on "new recording"
  frontend/src/composables/useMediaRecorder.ts
  frontend/src/views/RecordView.vue
Due: eslint

add .dockerignore to exclude node_modules and dist from Docker builds
  frontend/.dockerignore
Due: eslint

add user interface enhancements and theme updates for recording tool
  frontend/index.html
  frontend/src/App.vue
  frontend/src/components/RecordingControls.vue
  frontend/src/components/VideoPlayer.vue
  frontend/src/style.css
  frontend/src/views/RecordView.vue
  frontend/src/views/WatchView.vue
Due: eslint

add Go backend to replace Spring Boot backend
  backend-go/Dockerfile
  backend-go/VERSION
  backend-go/cmd/server/main.go
  backend-go/go.mod
  backend-go/go.sum
  backend-go/internal/config/config.go
  backend-go/internal/domain/model.go
  backend-go/internal/errors/errors.go
  backend-go/internal/handler/middleware.go
  backend-go/internal/handler/recording.go
  backend-go/internal/handler/recording_test.go
  backend-go/internal/repository/recording.go
  backend-go/internal/service/filestorage.go
  backend-go/internal/service/filestorage_test.go
  backend-go/internal/service/recording.go
  backend-go/internal/service/reencoding.go
  backend-go/internal/service/videoprocessing.go
  backend-go/migration-plan.md
  backend-go/migrations/000001_create_recording_table.down.sql
  backend-go/migrations/000001_create_recording_table.up.sql
Due: none

update deployment config to use Go backend
  .gitignore
  docker-compose.local.yml
  helm/video-msg/templates/deployment-backend.yaml
  helm/video-msg/values.yaml
Due: helm-lint

update documentation for Go backend migration
  CLAUDE.md
  README.md
Due: none

update build and release scripts for Go backend
  oglimmer.sh
Due: none

switch Spring Boot Dockerfile to GraalVM native image build
  backend/Dockerfile
Due: none

chore: sync renovate.json from plugin-skill-hosting
  renovate.json
Due: none
